<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Movies database</title>
</head>
<body>
    <h1>Movies List</h1>
    <!-- Adding / editing / deleting info message -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <p class="{{ messages[0][0] }}">{{ messages[0][1] }}</p>
        {% endif %}
    {% endwith %}

    <!-- Sorting combobox -->
     <form action="{{ url_for('views.show') }}", method="GET">
        <select id="sort" name="sort">
            <option value="default" {% if selected_sort == "default" %}selected{% endif %}>Default</option>
            <option value="year_ascend" {% if selected_sort == "year_ascend" %}selected{% endif %}>By Year Ascending</option>
            <option value="year_descend" {% if selected_sort == "year_descend" %}selected{% endif %}>By Year Descending</option>
            <option value="rating_ascend" {% if selected_sort == "rating_ascend" %}selected{% endif %}>By Rating Ascending</option>
            <option value="rating_descend" {% if selected_sort == "rating_descend" %}selected{% endif %}>By Rating Descending</option>
            <option value="by_title" {% if selected_sort == "by_title" %}selected{% endif %}>By Title</option>
        </select>

        <input type="text" id="additional_field" name="title" placeholder="Title to be found" value="{{ title if title }}"
        {% if selected_sort != "by_title" %}
            style="display: none;" required
        {% endif %}>

        <button type="submit">Sort</button>
     </form>

    <table>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Commentary</th>
        </tr>
        {% for movie in movies %}
        <tr>
            <td>{{ movie[1] }}</td>
            <td>{{ movie[2] }}</td>
            <td>{{ movie[3] }}</td>
            <td>{{ movie[4] }}</td>
            <td>
                <!-- Edit button -->
                <a href="{{ url_for('views.edit', id=movie[0]) }}">
                    <img src="{{ url_for('static', filename='img/ico_edit.png' )}}" class="ico-button" id="{{ movie[0] }}">
                </a>
            </td>
        {% endfor %}
        </tr>
    </table>

    <!-- Pagination Links -->
    <div class="pagination">
        {% if page > 1 %}
            {% if selected_sort == "by_title" %}
                <a href="{{ url_for('views.show', page=page-1, sort=selected_sort, title=title) }}">&laquo; Previous</a>
            {% else %}
                <a href="{{ url_for('views.show', page=page-1, sort=selected_sort) }}">&laquo; Previous</a>
            {% endif %}
        {% endif %}
        
        {% for i in range(1, total_pages + 1) %}
            {% if i == page %}
                <span class="current">{{ i }}</span>
            {% else %}
                {% if selected_sort == "by_title" %}
                    <a href="{{ url_for('views.show', page=i, sort=selected_sort, title=title) }}">{{ i }}</a>
                {% else %}
                    <a href="{{ url_for('views.show', page=i, sort=selected_sort) }}">{{ i }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        
        {% if page < total_pages %}
            {% if selected_sort == "by_title" %}
                <a href="{{ url_for('views.show', page=page+1, sort=selected_sort, title=title) }}">Next &raquo;</a>
            {% else %}
                <a href="{{ url_for('views.show', page=page+1, sort=selected_sort) }}">Next &raquo;</a>
            {% endif %}
        {% endif %}
    </div>

    <a href="{{ url_for('views.add') }}" class="button">Add Movie</a>



    <script>
        document.getElementById("sort").onchange = function() {
            var selected_option = this.value;
            var additional_input = document.getElementById("additional_field");
            // Show input field
            if (selected_option === "by_title") {
                additional_input.style.display = "block";
                additional_input.setAttribute("required", "");
            } else {
                additional_input.style.display = "none";
                additional_input.removeAttribute("required");
            }
        };
    </script>
    
</body>
</html>